<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_4ChanDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <_4ChanDownloader.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ThreadsTimer" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ThreadsDownloadPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoardsTimer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoardsMaxThreads" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BoardsMaxThreadsActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveThreadsUrls" serializeAs="String">
                <value>True</value>
            </setting>
        </_4ChanDownloader.Properties.Settings>
    </userSettings>
</configuration>